{% extends "template.html" %}
<title>Currículo</title>
{% block contents %}

<body>
    <div class="bodycur">
        <ul>
            Meu nome é Isabela Caris Fernandes da Silva
            <br>
            Nascida em 19.09.2002
            <br>
            Atualmente Curso DSM (Desenvolvimento de Software Multiplataforma)
            <br><br>
            Experiência:
            <br><br>
            - Menor Aprendiz : jan 2020 - fev 2022
            <br>
            - Operador de recuperação de crédito fev 2022 - atual
            <br><br>
            Protifólios desenvolvidos:
            <br>
            <a href="https://github.com/Caris19">GitHub</a>
        </ul>
    </div>
</body>
{% endblock %}