{% extends "template.html" %}
<title>Currículo</title>
{% block contents %}

<body>
    <div class="bodycur">
        <pre>
            Meu nome é Isabela Caris Fernandes da Silva
            Nascida em 19.09.2002
            Atualmente Curso DSM (Desenvolvimento de Software Multiplataforma)

            Experiência:
            - Menor Aprendiz : jan 2020 - fev 2022
            - Operador de recuperação de crédito fev 2022 - atual

            Protifólios desenvolvidos:
            <a href="https://github.com/Caris19">GitHub</a>
        </pre>
    </div>
</body>
{% endblock %}