<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    {% endblock %}
</head>
<body>
    {% block nav%}
        <div class="menu">
            <img src="{{ url_for('static',filename='img/logo.png') }}" alt="Logo">
            <nav>
            <a href="/">Home</a>
            <a href="/curriculo">Currículo</a>
            <a href="/contatos">Contatos</a>
            </nav>
        </div>
    {% endblock%}

    <div>
        {% block contents %} 
        {% endblock contents %}
    </div>
</body>
</html>