body{
    background-color: #d5acf1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.hdiv{
    margin-top: 5%;
    text-align: center;
}
.hdiv > h4{
    font-size: 180%;
}
.hdiv > spam {
    font-size: 150%;
}
ul{
    margin-top: 5%;
    font-size: 100%;
    margin-left: 10%;
}
li{
    text-decoration: none;
}
.perfil{
    display: block;
    width: 15%;
    margin:auto;
    text-align: center;
    border-radius: 100px;
    margin-top: 5%;
    filter: saturate(1.5);
}
.menu{
    color:#ffffff;
    padding: 5px;
    margin-right: 5%;
}
.menu > img{
    display: block;
    width: 15%;
    margin: auto;
}
nav{
    text-decoration: none;
    color: #7d31b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25% 0 25%;
    font-size: 150%;
}
/*responsividade*/
@media (max-width: 700px) {
    .hdiv{
        display: block;
        width: 100%;
        height: auto;
    }
    .menu >img {
        width: 50%;
    }
}